<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rated R</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/common.css">
  <link rel="stylesheet" href="stylesheets/about.css">
</head>
<body>
  <ul id="headerUL">
    <li id="mainLiHeading">rated r</li>
    <li class="linkLIHeader"><a href="/">Home</a></li>
    <li class="linkLIHeader"><a href="/about">About</a></li>
    <li class="linkLIHeader"><a href="/gallery">Gallery</a></li>
    <li class="linkLIHeader"><a href="/contact">Contact</a></li>
  </ul>
  <div id="AboutPageBackground"> 
    <h1>Music Under Your Feet</h1>
  </div><br><br><br>
  <table>
      <tr>
        <td>
            <h2>A few Words <br><span style="font-weight: lighter;">About</span> <span style="font-weight: lighter; color: darkred;">Rated R</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eos quo! Omnis doloremque mollitia illo quam id fugiat reiciendis assumenda corrupti quas, accusantium odio eaque expedita adipisci qui tempore eligendi. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vero, ex id voluptatum culpa accusantium architecto eum provident beatae amet officia illo nemo aliquid! Nemo quas voluptatum repellendus voluptatem excepturi?</p>
            <br><br><button onclick="window.location.replace('/contact')">Book Now</button>
        </td>
        <td>
            <img src="/images/singer.jpg" alt="Singer" >
        </td>
      </tr>
  </table><br><br><br>
</body>
</html>