<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>
<body>
    <ul id="headerUL">
      <li id="mainLiHeading">rated r</li>
      <li class="linkLIHeader"><a href="/">Home</a></li>
      <li class="linkLIHeader"><a href="/about">About</a></li>
      <li class="linkLIHeader"><a href="/gallery">Gallery</a></li>
      <li class="linkLIHeader"><a href="/contact">Contact</a></li>
    </ul>
    <div id="GalleryPageBackground"> 
      <h3>Sharing Joy through Music</h3>
    </div><br><br><br>
    <table>
        <tr>
            <td>
                <img src="/images/1.jpg">
            </td>
            <td>
                <img src="/images/2.jpg">
            </td>
            <td>
                <img src="/images/3.jpg">
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/4.jpg">
            </td>
            <td>
                <img src="/images/5.jpg">
            </td>
            <td>
                <img src="/images/6.jpg">
            </td>
    </table>
</body>
</html>