<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rated R</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/homePage.css">
  <link rel="stylesheet" href="stylesheets/common.css">
</head>
<body>
  <ul id="headerUL">
    <li id="mainLiHeading">rated r</li>
    <li class="linkLIHeader"><a href="/">Home</a></li>
    <li class="linkLIHeader"><a href="/about">About</a></li>
    <li class="linkLIHeader"><a href="/gallery">Gallery</a></li>
    <li class="linkLIHeader"><a href="/contact">Contact</a></li>
  </ul>
  <h1>rated r</h1>
  <h2>Life is a song, love is the music</h2>
</body>
</html>