<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <style>
        h1 {
            text-align: center;
            margin-top: 400px;
        }
    </style>
</head>
<body>
    <ul id="headerUL">
      <li id="mainLiHeading">rated r</li>
      <li class="linkLIHeader"><a href="/">Home</a></li>
      <li class="linkLIHeader"><a href="/about">About</a></li>
      <li class="linkLIHeader"><a href="/gallery">Gallery</a></li>
      <li class="linkLIHeader"><a href="/contact">Contact</a></li>
    </ul>
    <div>
        <h1>Thank You for Successfully booking the tickets!</h1>
    </div>    
</body>
</html>